{% extends 'sprint8/index.html' %} {% block body %}
<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery table-bordered">
                    <thead>
                        <tr class="main-hading">
                            <th>PRODUCTO</th>
                            <th>NOMBRE</th>
                            <th class="text-center">PRECIO UNIT.</th>
                            <th class="text-center">CANTIDAD</th>
                            <th class="text-center">TOTAL</th>
                            <!-- <th class="text-center"><i class="ti-pencil-alt remove-icon"></i></th> -->
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for carrito in cestas %}
                        <tr>
                            <td class="image" data-title="No"><img src="../../static/{{carrito.productos.imagen}}" alt="#"></td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name font-weight-bold">
                                    {{carrito.productos.nombre}} </p>
                                <p class="product-des">{{carrito.productos.descripcion}}</p>
                            </td>
                            <td class="price" data-title="Price"><span>{{carrito.productos.precio}} € </span></td>
                            <td class="qty" data-title="Qty">
                                <!-- Input Order -->
                                <div class="">
                                    {{carrito.cantidad}}
                                </div>
                                <!--/ End Input Order -->
                            </td>
                            <td id="total_prod" class="total-amount" data-title="Total"><span></span></td>
                            <!-- <td class="action" data-title="Remove">
									<a onclick="abrir_modal_editar('{% url 'sprint8:editar_cesta' carrito.productos.id user.id %}')">
										<i class="ti-pencil-alt remove-icon"></i>
									</a>
								</td> -->
                            <td class="action" data-title="Remove"><a href="{% url 'sprint8:eliminar_cesta' carrito.id %}"><i class="ti-trash remove-icon"></i></a></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart Subtotal<span>$330.00</span></li>
                                    <li>Shipping<span>Free</span></li>
                                    <li>You Save<span>$20.00</span></li>
                                    <li class="last">Su Pago<span>$310.00</span></li>
                                </ul>
                                <div class="button5">
                                    <a href="{% url 'sprint8:limpiar_cesta' user.id %}" class="btn" id="btnPagar">Pagar</a>
                                    <a href="#" class="btn">Continuar Comprando</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->
<div class="modal fade" id="editar" role="dialog">
</div>
{% endblock body %} {% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();

    function abrir_modal_editar(url) {
        $('#editar').load(url, function() {
            $(this).modal('show');
        });
    }

    $('#btnPagar').click(function(){
        swal({
            title:"Gracias por su compra!!",
            text:"Click en submit!",
            icon:"success",
            timer: 1000000
            
        });
       
    });
</script>
{% endblock extrajs %}