 {% extends 'sprint8/index.html' %} 
 {% block body %}
<div class="container">
<br/>
    <h2>Categoria {{producto.nombre}}
        {% for nombre_categoria in categoriasId %}
            {{nombre_categoria.nombre}}
        {% endfor %}
    </h2>
    <br>
    </br>
    <div class="card-deck">
        <div class="tab-pane fade show active" id="man" role="tabpanel">
            <div class="tab-single">
                <div class="row">
                    {% for producto in productos %}
                    <div class="card">
                        <div class="card-body text-center">
                            <a>
                                <img class="default-img" src="../../static/{{producto.imagen}}" alt="#">
                            </a>
                        </div>
                        <div class="button-head">
                            <div class="product-action text-right">
                                <a  onclick="abrir_modal_creacion('{% url 'sprint8:agregar_cesta' producto.id user.id %}')"><i
                                    class=" ti-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h5>
                                <a>
                                    <p class="text-uppercase font-weight-bold text-center">{{producto.nombre}}</p>
                                </a>
                            </h5>
                            <hr>
                            <h6>
                                <a>
                                    <p class="text-justify">{{producto.descripcion}}</p>
                                </a>
                            </h6>
                            <hr>
                            <div class="product-price">
                                <span><p class="text-right font-weight-bold">{{producto.precio}} €</p></span>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="creacion" role="dialog">

</div>

{% endblock body %} 
{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();

    function abrir_modal_creacion(url) {
        $('#creacion').load(url, function() {
            $(this).modal('show');
        });
    }
</script>
{% endblock extrajs %}