{% extends 'sprint8/index.html' %} 
{% block bodyCategorias %}<p>&nbsp</p>{% endblock bodyCategorias %}
{% block bodyCesta %}<p>&nbsp</p>{% endblock bodyCesta %}
{% block body %}
<br><br>
<div class="container w-25 border border-primary">
    <h2 class="text-center">LOGIN</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="modal-body">
            {{ form.as_p }}
        </div>
        <div class="modal-footer">
            <a href="{% url 'sprint8:index' %}" class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</a>
            <button class="btn btn-primary" type="submit">Confirmar</button>
        </div>
    </form>
</div>
<br><br> {% endblock body%}